body {
  background-color: white;
  font-family: 'arial', sans-serif;
  text-align: center;
}

h1 {
  color:  #e600ac;
}

.displaybox {
  text-align: center;
  font-size: 4em;
  overflow-wrap: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #49345c;
  height: 400px;
  width: 700px;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 50px;
    
}

#currentdisplay {
  color: #ffe6cc;
	}

#entertext {
  text-align: center;
  margin: 100px auto;
}

.scrollsection {
  margin: auto;
  width: 400px;
}

#arrowleft {
  display: inline-block;
  padding-right: 20px;
}

#arrowright {
  display: inline-block;
  padding-left: 20px;
}

.inputarea {
  margin-top: 50px;
}

#added {
  color: green;
  margin-top: 10px;
}
